<div class="footer-sec">
    <p class="title">Language</p>
    <ul>
        <li>
            <a href="https://www.cashfort.com.br/"><img src="/images/brazil.png" alt=""></a>
        </li>
    </ul>
</div>
<div class="footer-sec">
    <p class="title">Service</p>
    <ul>
        <li>
            <p>cashfort@cashfort.us</p>
        </li>
        <li>
            <p>Service from Monday to Saturday - 9am to 7pm</p>
        </li>
    </ul>
</div>
<div class="footer-sec">
    <p class="title">Pages</p>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/#about">About Us</a>
        </li>
        <li>
            <a href="/products">Products</a>
        </li>
        <li>
            <a href="/#solutions">Solutions</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>