<div class="padding">
    <a href="/">Home</a>
    <a href="/#about">About Us</a>
    <a href="/#product">Solutions</a>
    <a href="/contact">Contact</a>
    <a class="header-img" href="https://www.cashfort.com.br/"><img src="/images/brazil.png" alt=""></a>
</div>