<div class="padding">
    <div class="logo">
        <img src="/images/logo.png" alt="">
    </div>
    <div>
        <a href="/">Home</a>
        <a href="/#about">About Us</a>
        <a href="/products">Products</a>
        <a href="/#product">Solutions</a>
        <a href="/contact">Contact</a>
    </div>
</div>