<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo_ico.png">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Flip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Observer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/MotionPathPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/EaselPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/PixiPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>
    <!-- RoughEase, ExpoScaleEase and SlowMo are all included in the EasePack file -->    
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/EasePack.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/CustomEase.min.js"></script>
    <link rel="stylesheet" type="text/css" media="(orientation: landscape)" href="/css/desktop.css">
    <link rel="stylesheet" type="text/css" media="(orientation: portrait)" href="/css/mobile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <script>
        gsap.registerPlugin(Flip,ScrollTrigger,Observer,ScrollToPlugin,Draggable,MotionPathPlugin,EaselPlugin,PixiPlugin,TextPlugin,RoughEase,ExpoScaleEase,SlowMo,CustomEase)
        
        document.addEventListener("DOMContentLoaded", (event) => {
            gsap.from('.anime-start', {
                scrollTrigger: {
                    trigger: '.anime-start',
                    toggleActions: "restart none none none"
                },
                opacity: 0,
                duration: 1,
                y: 50,
                stagger: 0.25
            });
            gsap.from('.anime-resale', {
                scrollTrigger: {
                    trigger: '.anime-resale',
                    toggleActions: "restart none none none"
                },
                opacity: 0,
                duration: 1,
                x: 50,
                stagger: 0.25
            });
            gsap.from('.anime-part', {
                scrollTrigger: {
                    trigger: '.anime-part',
                    toggleActions: "restart none none none"
                },
                opacity: 0,
                duration: 1,
                y: 50,
                stagger: 0.2
            });
            gsap.from('.anime-about', {
                scrollTrigger: {
                    trigger: '.anime-about',
                    toggleActions: "restart none none none"
                },
                opacity: 0,
                duration: 1,
                y: 50,
                stagger: 0.2
            });
            gsap.from('.con-card', {
                scrollTrigger: {
                    trigger: '.con-card',
                    toggleActions: "restart none none none"
                },
                opacity: 0,
                duration: 1,
                x: -50,
                stagger: 0.25
            });
            gsap.from('.item-card', {
                scrollTrigger: {
                    trigger: '.item-card',
                    toggleActions: "restart none none none"
                },
                opacity: 0,
                duration: 1,
                stagger: 0.10
            });
        });
    </script>
    <title>Cash Fort</title>