<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <header>
        <%- include ("partials/header.ejs") %>
    </header>
    <main>
        <div class="container first">
            <div class="padding">
                <div class="content">
                    <h1 class="anime anime-start">Keep your money without being tracked</h1>
                    <p class="anime anime-start">We offer excellent opportunities to do more with your cryptocurrencies.</p>
                </div>
                <div class="image anime-start">
                    <img src="/images/cyber.png" alt="hero">
                </div>
            </div>
            <img src="https://www.cashfort.com.br/app/img/slideimg.jpeg" alt="">
        </div>
        <div class="container second">
            <div class="padding">
                <div class="content">
                    <h1 class="anime anime-resale">Official resale</h1>
                    <p class="anime anime-resale">Cash Fort is proud to be the official reseller of the renowned brands Safepal, SecuX, BitBox, Yubico, D'cent, Coolwallet and Ellipal. As authorized partners of these prominent brands, we offer our customers access to high-quality products and market-leading cryptocurrency security solutions.</p>
                </div>
                <div class="image anime-resale">
                    <img src="/images/alt-de-verificacao-de-distintivo.png" alt="hero">
                </div>
            </div>
        </div>
        <div class="container" id="about">
            <div class="padding">
                <div class="content">
                    <h1 class="anime anime-about">About Us</h1>
                    <p class="anime anime-about">Cash Fort was created with the mission of providing security and variety to cryptocurrency enthusiasts in Brazil. Founded in 2021 by Rafael Queiroz and Wagner Bertoluci, our store has already gained the trust of more than 4,000 customers, reaching the mark of more than 5,000 products sold. Our dedication to excellence and customer service is reflected in the absence of complaints, demonstrating a commitment to quality and safety in all aspects of our operation</p>
                </div>
            </div>
        </div>
        <div class="container part">
            <div class="padding part">
                <h1 class="anime anime-part">Partners</h1>
                <div class="partners">
                    <div class="logo anime-part">
                        <img src="/images/safepal.png" alt="safepal">
                        <p>SafePal</p>
                    </div>
                    <div class="logo anime-part">
                        <img src="/images/yubico.png" alt="secux">
                        <p>Yubico</p>
                    </div>
                    <div class="logo anime-part">
                        <img src="/images/Ledger.png" alt="secux">
                        <p>Ledger</p>
                    </div>
                    <div class="logo anime-part">
                        <img src="/images/Ellipal.png" alt="secux">
                        <p>Ellipal</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="product">
            <div class="content">
                <h1 class="anime">Check our products</h1>
                <button>Products</button>
            </div>
        </div>
    </main>
</body>
</html>