<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <header>
        <%- include ("partials/header.ejs") %>
    </header>
    <main>
        <div class="container first">
            <div class="padding">
                <div class="content">
                    <h1 class="anime anime-start">Keep your money without being tracked</h1>
                    <p class="anime anime-start">We offer excellent opportunities to do more with your cryptocurrencies.</p>
                </div>
            </div>
            <video id="vid" autoplay muted loop>
                <source src="/images/cashfort.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container second" id="about">
            <div class="padding">
                <div class="content">
                    <h1 class="anime anime-resale">About Us</h1>
                    <p class="anime anime-resale">Cash Fort was created with the mission of providing security and variety to cryptocurrency enthusiasts in Brazil. Founded in 2021 by Rafael Queiroz and Wagner Bertoluci, our store has already gained the trust of more than 4,000 customers, reaching the mark of more than 5,000 products sold. Our dedication to excellence and customer service is reflected in the absence of complaints, demonstrating a commitment to quality and safety in all aspects of our operation</p>
                </div>
                <div class="image anime-resale">
                    <img src="/images/banner.png" alt="hero">
                </div>
            </div>
        </div>
        <div class="container third" id="solutions">
            <div class="padding">
                <div class="content">
                    <div class="carrosel" onclick="animation()">
                        <div class="img-container first">
                            <img src="/images/1.png" alt="">
                        </div>
                        <div class="img-container second">
                            <img src="/images/2.png" alt="">
                        </div>
                    </div>
                    <p class="anime anime-about">Cash Fort was created with the mission of providing security and variety to cryptocurrency enthusiasts in Brazil. Founded in 2021 by Rafael Queiroz and Wagner Bertoluci, our store has already gained the trust of more than 4,000 customers, reaching the mark of more than 5,000 products sold. Our dedication to excellence and customer service is reflected in the absence of complaints, demonstrating a commitment to quality and safety in all aspects of our operation</p>
                </div>
            </div>
        </div>
        <div class="container forth">
            <div class="padding">
                <div class="content">
                    <h1 class="anime anime-resale">Official resale</h1>
                    <p class="anime anime-resale">Cash Fort is proud to be the official reseller of the renowned brands Safepal, SecuX, BitBox, Yubico, D'cent, Coolwallet and Ellipal. As authorized partners of these prominent brands, we offer our customers access to high-quality products and market-leading cryptocurrency security solutions.</p>
                </div>
                <div class="image anime-resale">
                    <img src="/images/alt-de-verificacao-de-distintivo.png" alt="hero">
                </div>
            </div>
        </div>
        <div class="container part">
            <div class="padding part">
                <h1 class="anime anime-part">Partners</h1>
                <div class="scroling">
                    <button class="scroll" onclick="scrolling(0,false)"><</button>
                    <div class="partners">
                        <div class="logo anime-part">
                            <img src="/images/safepal.png" alt="safepal">
                            <p>SafePal</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/yubico.png" alt="secux">
                            <p>Yubico</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ledger.png" alt="secux">
                            <p>Ledger</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ellipal.png" alt="secux">
                            <p>Ellipal</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ellipal.png" alt="secux">
                            <p>Ellipal</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ellipal.png" alt="secux">
                            <p>Ellipal</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ellipal.png" alt="secux">
                            <p>Ellipal</p>
                        </div>
                    </div>
                    <button class="scroll" onclick="scrolling(0,true)">></button>
                </div>
            </div>
        </div>
        <div class="container part">
            <div class="padding part">
                <h1 class="anime anime-part">Customers</h1>
                <div class="scroling">
                    <button class="scroll" onclick="scrolling(1,false)"><</button>
                    <div class="partners">
                        <div class="logo anime-part">
                            <img src="/images/safepal.png" alt="safepal">
                            <p>SafePal</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/yubico.png" alt="secux">
                            <p>Yubico</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ledger.png" alt="secux">
                            <p>Ledger</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ellipal.png" alt="secux">
                            <p>Ellipal</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ellipal.png" alt="secux">
                            <p>Ellipal</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ellipal.png" alt="secux">
                            <p>Ellipal</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ellipal.png" alt="secux">
                            <p>Ellipal</p>
                        </div>
                        <div class="logo anime-part">
                            <img src="/images/Ellipal.png" alt="secux">
                            <p>Ellipal</p>
                        </div>
                    </div>
                    <button class="scroll" onclick="scrolling(1, true)">></button>
                </div>
            </div>
        </div>
            <script>
                setInterval(animation, 4000)
                setInterval(()=>{
                    scrolling(0, true);
                    scrolling(1, true);
                }, 4000)

                let carta1 
                let carta2 

                //esperar a pagina carregar
                window.onload = function(){
                    carta1 = document.getElementsByClassName('img-container first')[0];
                    carta2 = document.getElementsByClassName('img-container second')[0];
                }


                function scrolling(idx, right){
                    let partners = document.getElementsByClassName('partners');
                    let scrollL = partners[idx].scrollLeft;


                    if(right){
                        partners[idx].scroll({ left: scrollL+225, behavior: "smooth" });
                        if(scrollL > 225*(partners[idx].childElementCount-5)){
                            partners[idx].scroll({ left: 0, behavior: "smooth" });
                        }
                    }else{
                        partners[idx].scroll({ left: scrollL-225, behavior: "smooth" });
                        if(scrollL == 0){
                            partners[idx].scroll({ left: 225*(partners[idx].childElementCount), behavior: "smooth" });
                        }
                    }

                    return partners[idx].childElementCount;
                }
                function animation(){
                    let id = null;

                    let pos = 0;
                    clearInterval(id);
                    id = setInterval(frame, 0.5);
                    
                    carta1.style.transition = "all 0.3s";
                    carta2.style.transition = "all 0.3s";

                    function frame() {        
                        if (pos == 100) {
                            clearInterval(id);
                            let temp = carta1;
                            carta1 = carta2;
                            carta2 = temp;
                        } else {
                            pos++; 
                            if(pos <= 33){
                                carta1.style.zIndex = "2";
                                carta2.style.zIndex = "1";
                                carta2.style.marginTop = "-100%";
                                carta1.style.marginTop = "100%";
                                carta2.style.scale = "1";
                                carta1.style.scale = "1";
                                carta1.style.filter = "blur(2px)";
                                carta2.style.filter = "blur(2px)";
                                
                            }
                            if(pos > 33 && pos <= 66){
                                carta2.style.scale = "1.05";
                                carta1.style.scale = "0.95";
                                carta1.style.zIndex = "1";
                                carta2.style.zIndex = "2";
                                carta1.style.filter = "blur(4px)";
                                carta2.style.filter = "blur(0px)";
                            }
                            if(pos > 66){
                                carta2.style.marginTop = "0";
                                carta1.style.marginTop = "0";
                            }
                        }
                    }
                    
                }
            </script>
    </main>
    <footer>
        <%- include ("partials/footer.ejs") %>
    </footer>
</body>
</html>