<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <header>
        <%- include ("partials/header.ejs") %>
    </header>
    <main>
        <div class="container first product">
            <div class="padding product">  
                <h1>Nome do produto</h1>
            </div>
            <img src="https://www.cashfort.com.br/app/img/slideimg.jpeg" alt="">
        </div>
        <div class="container second">
            <div class="padding product">
                <div class="content">
                    <div class="info">
                        <div class="stock sec">In stock</div>
                        <div class="value sec">
                            <p>From</p>
                            <h1>$ 1.000,00</h1>
                        </div>
                        <a class="buttons" href="/link-para-o-item">See more!</a>
                        <div class="sec compatibility">
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/marca.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Brand</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/comp.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Compatibility</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/computador.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Works on computer</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/phone.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Works on smartphone</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/moedas.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Supported currencies</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/blockchain.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Supported blockchains</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/codigo.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Open Source</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/staking.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Staking supported</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/wifi.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Connectivity</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/peso.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Weight</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/altura.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Size</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/bateria.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Battery</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                            <div class="compa">
                                <div class="icon">
                                    <img src="/images/icon/manu.png" alt="">
                                </div>
                                <div class="value">
                                    <p class="title">Handling</p>
                                    <p>qualquercoisa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="/src/Ledger Stax 2.png" alt="hero">
                </div>
        </div>
    </main>
    <footer>
        <%- include ("partials/footer.ejs") %>
    </footer>
</body>
</html>