<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("partials/head.ejs") %>
</head>
<body>
    <header>
        <div class="padding">
            <a href="/">Home</a>
            <a href="#about">About Us</a>
            <a href="#product">Solutions</a>
            <a href="/contact">Contact</a>
            <a class="header-img" href="https://www.cashfort.com.br/"><img src="/images/brazil.png" alt=""></a>
        </div>
    </header>
    <main>
        <div class="container first product">
            <div class="padding product">  
                <h1>Nome do produto</h1>
            </div>
            <img src="https://www.cashfort.com.br/app/img/slideimg.jpeg" alt="">
        </div>
        <div class="container second">
            <div class="padding product">
                <div class="content">
                    <div class="info">
                        <div class="stock sec">In stock</div>
                        <div class="value sec">
                            <p>From</p>
                            <h1>$ 1.000,00</h1>
                        </div>
                        <a class="buttons" href="/link-para-o-item">See more!</a>
                        <div class="sec">
                            <div class="compa">
                                <div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="/src/Ledger Stax 2.png" alt="hero">
                </div>
        </div>
    </main>
</body>
</html>